{% extends "base.html" %}


{% block site_meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% if page.meta and page.meta.description %}
        <meta name="description" content="{{ page.meta.description }}">
    {% elif config.site_description %}
        <meta name="description" content="{{ config.site_description }}">
    {% endif %}
    {% if page.meta and page.meta.author %}
        <meta name="author" content="{{ page.meta.author }}">
    {% elif config.site_author %}
        <meta name="author" content="{{ config.site_author }}">
    {% endif %}
    {% if page.canonical_url %}
        <link rel="canonical" href="{{ page.canonical_url }}">
    {% endif %}
    {% if page.previous_page %}
        <link rel="prev" href="{{ page.previous_page.url | url }}">
    {% endif %}
    {% if page.next_page %}
        <link rel="next" href="{{ page.next_page.url | url }}">
    {% endif %}
    {% if "rss" in config.plugins %}
        <link rel="alternate" type="application/rss+xml" title="{{ lang.t('rss.created') }}" href="{{ 'feed_rss_created.xml' | url }}">
        <link rel="alternate" type="application/rss+xml" title="{{ lang.t('rss.updated') }}" href="{{ 'feed_rss_updated.xml' | url }}">
    {% endif %}
    <link rel="icon" href="{{ config.theme.favicon | url }}">

    <meta property="og:type" content="website" />
    {% if page.meta and page.meta.title %}
        <meta property="og:title" content="{{page.meta.title}}" />
    {% endif %}
    {% if page.meta and page.meta.description %}
        <meta property="og:description" content="{{page.meta.description}}" />
    {% endif %}
    {% if page.canonical_url %}
        <meta property="og:url" content="{{ page.canonical_url }}">
    {% endif %}
    <meta property="og:site_name" content="{{config.site_name}}" />
    {% if page.meta and page.meta.banner_image %}
        <meta property="og:image" content="{{config.site_url}}{{page.meta.banner_image}}" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
    {% endif %}


    <meta name="twitter:card" content="summary" />
    {% if page.meta and page.meta.description %}
        <meta name="twitter:description" content="{{page.meta.description}}" />
    {% endif %}
    {% if page.meta and page.meta.title %}
        <meta name="twitter:title"  content="{{page.meta.title}}" />
    {% endif %}
    
    <meta name="twitter:site" content="@arunkumarn_eee" />
    {% if page.meta and page.meta.banner_image %}
        <meta name="twitter:image" content="{{config.site_url}}{{page.meta.banner_image}}" />
    {% endif %}
    <meta name="twitter:creator" content="@arunkumarn_eee" />
{% endblock %}